## Service
WALLET_SERVICE_HOST=0.0.0.0:1234

## Database
WALLET_SERVICE_DB_DRIVER=mysql
WALLET_SERVICE_DB_HOST=localhost
WALLET_SERVICE_DB_PORT=3306
WALLET_SERVICE_DB_USERNAME=user
WALLET_SERVICE_DB_SECRET=secret
