## Service
WALLET_SERVICE_HOST=0.0.0.0:8080

## Database
WALLET_SERVICE_DB_DRIVER=mysql
WALLET_SERVICE_DB_HOST=localhost
WALLET_SERVICE_DB_PORT=3306
WALLET_SERVICE_DB_USERNAME=user
WALLET_SERVICE_DB_PASSWORD=secret
WALLET_SERVICE_DB_DATABASE=wallet
WALLET_SERVICE_DB_QUERY_STRING=parseTime=true
