## Service
WALLET_SERVICE_HOST=0.0.0.0:8080

## Database
WALLET_SERVICE_DB_DRIVER=postgres
WALLET_SERVICE_DB_HOST=localhost
WALLET_SERVICE_DB_PORT=5432
WALLET_SERVICE_DB_USERNAME=postgres
WALLET_SERVICE_DB_PASSWORD=postgres
WALLET_SERVICE_DB_DATABASE=wallet
WALLET_SERVICE_DB_QUERY_STRING=sslmode=disable
